technical_expert_wf.yml
app:
  description: expert for technical, construction and energy related questions
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: technical_expert_wf
  use_icon_as_answer_icon: false
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 10
        file_size_limit: 100
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: knowledge-retrieval
      id: 1746870172659-source-1746874873003-target
      source: '1746870172659'
      sourceHandle: source
      target: '1746874873003'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1746874873003-source-1746870208873-target
      selected: false
      source: '1746874873003'
      sourceHandle: source
      target: '1746870208873'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: 1746870208873-source-1746875863949-target
      source: '1746870208873'
      sourceHandle: source
      target: '1746875863949'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - label: Stelle mir eine Frage
          max_length: 200
          options: []
          required: true
          type: paragraph
          variable: UserInput
      height: 90
      id: '1746870172659'
      position:
        x: 76.63296119816846
        y: 282
      positionAbsolute:
        x: 76.63296119816846
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - '1746874873003'
          - result
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: google/gemini-pro-1.5
          provider: openrouter
        prompt_template:
        - id: 5fcf40ab-7d98-47e5-b3d6-338807d36a92
          role: system
          text: You are an experienced energy consultant with technical background
            knowledge {{#context#}}. Your job is to provide homeowners in Germany
            with well-founded, understandable and practical recommendations for the
            energy-efficient refurbishment of their properties. Give structured answers
            in the category of the question. Only answer questions within the technical
            context. Use tables, checklists or numbered lists if they help to provide
            a better overview. Avoid technical jargon unless it is explained. If necessary,
            ask questions to individualize the advice.
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1746870208873'
      position:
        x: 690.297396709994
        y: 282
      positionAbsolute:
        x: 690.297396709994
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        dataset_ids:
        - c7cf74f2-21fe-452e-9e2a-4c3111983a27
        desc: ''
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          reranking_model:
            model: ''
            provider: ''
          top_k: 4
        query_variable_selector:
        - '1746870172659'
        - UserInput
        retrieval_mode: multiple
        selected: false
        title: technical knowledge retrieval
        type: knowledge-retrieval
      height: 92
      id: '1746874873003'
      position:
        x: 380.0376049309636
        y: 282
      positionAbsolute:
        x: 380.0376049309636
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1746870208873'
          - text
          variable: OutputText
        selected: false
        title: Ende
        type: end
      height: 90
      id: '1746875863949'
      position:
        x: 994.297396709994
        y: 282
      positionAbsolute:
        x: 994.297396709994
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 299.22380092827643
      y: 120.73988470881034
      zoom: 0.5743491774985191
